---
import HeroCanvas from "../components/HeroCanvas.astro";
import ImageLoader from "../components/ImageLoader.astro";
import jdl from "../images/jdl.png";
import jdlBG from "../images/jdl-loading.png";
import "../stylesheets/styles.css";

const currentYear = new Date().getFullYear();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Catchy Catchphrase Here | Joshua David Lantican - Freelance Video Editor
    </title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@200;400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="main-frame"></div>
    <header id="main-header">
      <nav>
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#works">Works</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#info">Info</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="panel" id="hero">
        <div id="name">
          <h1>Joshua David Lantican</h1>
          <p>Freelance Video Editor</p>
        </div>
        <div class="panel__content">
          <p>
            I'm Joshua, a passionate and experienced freelance video editor with
            over five years of expertise in the field. My focus lies in Social
            Media Management and Video Editing, with a significant
            specialization in the Real Estate Industry, where I have
            successfully garnered over 15,000 views across various social media
            platforms.
          </p>
          <p>
            As a professional video editor, my mission is to create captivating
            and persuasive videos that resonate with your audience. I excel at
            transforming raw footage into engaging final products, employing my
            creativity and storytelling skills to effectively communicate your
            message.
          </p>
        </div>
        <div class="panel__bg" data-bg-active="true">
          <HeroCanvas />
          <div class="screen">
            <ImageLoader id="jdl__photo-card" bg={jdlBG} src={jdl} />
            <div class="screen-overlay"></div>
            <div class="screen-inset-border"></div>
          </div>
        </div>
      </section>
      <section class="panel" id="works">
        <div class="panel__content | text-right">
          <h2 class="fs-regular fw-semibold">Companies I've Worked With</h2>
          <ul>
            <li>
              <button type="button"
                ><h3>WeRevive</h3>
                <p>Marketing Assistant / Video Editor</p></button
              >
            </li>
            <li>
              <button type="button"
                ><h3>London Outsourced Inc. - July Social</h3>
                <p>Freelance Creative Artist</p></button
              >
            </li>
            <li>
              <button type="button"
                ><h3>The Summit Group - Powered by EXP</h3>
                <p>Social Media Manager / Video Editor</p></button
              >
            </li>
            <li>
              <button type="button"
                ><h3>Jesus Is Lord Church - Los Baños</h3>
                <p>Multimedia and Arts Network</p></button
              >
            </li>
          </ul>
        </div>
      </section>
      <section class="panel" id="services">
        <h2 class="sr-only">Services</h2>
        <div class="panel__content | text-right">
          <ul>
            <li>Post-Process Video Edit</li>
            <li>Social Media Video Edit (Youtube, Reels, TikTok)</li>
            <li>Video Repurpose</li>
            <li>Podcast/Audio Edit</li>
            <li>Photo Edit</li>
            <li>Graphic Design</li>
            <li>Marketing (Email Marketing, Newsletter, Flyers & Posters)</li>
          </ul>
        </div>
      </section>
      <section class="panel" id="info">
        <h2 class="sr-only">Info</h2>
        <div class="panel__content | text-right">
          <p>Education</p>
          <ul>
            <li>
              <p>Podcast Editing Course</p>
              <p>2021, Life with Glaze</p>
            </li>
            <li>
              <p>Video Editing - Specialist Virtual Class</p>
              <p>202, CIIT Philippines</p>
            </li>
          </ul>
          <p>Tools</p>
          <ul>
            <li>Adobe Premiere Pro</li>
            <li>Adobe After Effects</li>
            <li>Adobe Audition</li>
            <li>Adobe Photoshop</li>
            <li>Reaper - Digital Audio Workstation</li>
          </ul>
          <button type="button">My Resume</button>
        </div>
      </section>
      <section class="panel" id="contact">
        <h2 class="sr-only">Contact</h2>
        <div class="panel__content | text-right">
          <address>
            <p>
              <a href="mailto:jdavid.lantican@gmail.com"
                >jdavid.lantican@gmail.com</a
              >
            </p>
            <p><a href="tel:+639279132298">+63 (927) 913-2298</a></p>
            <p>Bay, Laguna 4033</p>
          </address>
        </div>
      </section>
    </main>
    <footer id="main-footer">
      <p>
        &copy; <span id="copyright-year">{currentYear}</span> Joshua David Lantican
      </p>
    </footer>
  </body>
</html>

<script>
  // Update copyright year to current year
  const copyrightYear = document.querySelector(
    "#copyright-year"
  ) as HTMLElement;
  copyrightYear.innerText = new Date().getFullYear().toString();
</script>
