@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@200;400;600&display=swap");

@layer reset, base, layout, components, utilities, general;

@layer reset {
  :root {
    --padding: 1em;

    --primary-color-100: #b7c6e1;
    --primary-color-400: #4a6eb0;
    --primary-color-500: #485163;
    --primary-color-800: #1e2c47;
    --primary-color-900: #252a33;

    --neutral-color-100: #f5f5f5;
    --neutral-color-900: #0a0f18;

    --fw-thin: 200;
    --fw-semibold: 400;
    --fw-bold: 600;

    --z-main-nav: 500;
    --z-content-bg: -200;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  img {
    display: block;
    max-width: 100%;
  }

  :where(h1, h2, h3, h4, h5, h6, p, a, span, button) {
    font-family: inherit;
    font-weight: inherit;

    text-decoration: none;
    color: inherit;
    font-style: normal;
  }

  a:hover {
    opacity: 0.25;
  }

  button {
    background-color: transparent;
    border: 1px solid var(--border-color);
  }

  :where(ul, li) {
    list-style: none;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: var(--neutral-color-900);
      --text-color: var(--neutral-color-100);
      --border-color: hsl(0, 0%, 96%, 0.5);
    }
  }
  @media (prefers-color-scheme: light) {
    :root {
      --bg-color: var(--primary-color-100);
      --text-color: var(--neutral-color-900);
      --border-color: hsl(219, 41%, 7%, 0.5);
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-block-start: calc(var(--padding) * 2);
  }

  body {
    font-family: "Roboto Flex", sans-serif;
    font-weight: var(--fw-thin);

    background-color: var(--bg-color);
    color: var(--text-color);
  }

  address {
    word-break: break-all;
  }
}

@layer layout {
  body {
    position: relative;

    margin: var(--padding);
    padding: var(--padding);

    isolation: isolate;

    .panel {
      min-height: calc(100vh - (var(--padding) * 4));

      &:not(:first-of-type) {
        margin-block-start: calc(var(--padding) * 2);
      }
    }

    .panel__bg {
      position: fixed;
      inset: calc(var(--padding));
      background-color: hsl(0, 100%, 40%, 0.15); /* placeholder */

      z-index: var(--z-content-bg);
      isolation: isolate;
    }
  }

  #main-frame {
    pointer-events: none;
    border: 1px solid var(--border-color);

    position: fixed;
    inset: var(--padding);
  }

  #main-header,
  #name,
  #main-footer {
    position: fixed;
    left: calc(var(--padding) * 2);
    right: calc(var(--padding) * 2);

    max-width: max-content;

    z-index: var(--z-main-nav);
  }

  #main-header {
    top: calc(var(--padding) * 12);
  }

  #name {
    top: calc(var(--padding) * 2);
  }

  #main-footer {
    bottom: calc(var(--padding) * 2);
  }
}
