@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@200;400;600&display=swap");

@layer reset, base, layout, components, utilities, general;

@layer reset {
  :root {
    color-scheme: dark light;

    --padding: 2em;

    --primary-color-100: 219 41% 80%;
    --primary-color-400: 219 41% 49%;
    --primary-color-500: 220 16% 34%;
    --primary-color-800: 220 41% 20%;
    --primary-color-900: 219 16% 17%;

    --neutral-color-100: 0 0% 96%;
    --neutral-color-900: 219 41% 7%;

    --fw-thin: 200;
    --fw-semibold: 400;
    --fw-bold: 600;

    --fs-small: clamp(0.5rem, 5vw, 0.75rem);
    --fs-regular: clamp(0.75rem, 5vw, 1rem);
    --fs-large: clamp(1.75rem, 4vw, 3rem);

    --z-loading-screen: 900;
    --z-work-dialog: 600;
    --z-main-nav: 500;
    --z-content-bg: -200;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  img {
    display: block;
    max-width: 100%;
  }

  :where(h1, h2, h3, h4, h5, h6, p, a, span, button) {
    font-family: inherit;
    font-weight: inherit;

    text-decoration: none;
    color: inherit;
    font-style: normal;
  }

  a {
    transition: opacity 200ms ease-in-out;

    &:hover {
      opacity: 0.25;
    }
  }

  button {
    background-color: transparent;
    border: 1px solid var(--border-color);

    text-shadow: inherit;

    cursor: pointer;
  }

  :where(ul, ol, li) {
    list-style: none;
  }

  section,
  header,
  footer {
    opacity: 1;

    transition: opacity var(--theme-transition-speed) ease-in-out;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: hsl(var(--neutral-color-900));
      --text-color: hsl(var(--neutral-color-100));
      --border-color: hsl(var(--neutral-color-100) / 50%);
    }
  }
  @media (prefers-color-scheme: light) {
    :root {
      --bg-color: hsl(var(--primary-color-100));
      --text-color: hsl(var(--neutral-color-900));
      --border-color: hsl(var(--neutral-color-900) / 50%);
    }
  }

  [data-theme="dark"] {
    --bg-color: hsl(var(--neutral-color-900));
    --text-color: hsl(var(--neutral-color-100));
    --border-color: hsl(var(--neutral-color-100) / 50%);
  }

  [data-theme="light"] {
    --bg-color: hsl(var(--primary-color-100));
    --text-color: hsl(var(--neutral-color-900));
    --border-color: hsl(var(--neutral-color-900) / 50%);
  }

  main {
    opacity: 0;
    transition: opacity calc(var(--theme-transition-speed) / 2) ease-in-out;
  }

  dialog {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-block-start: calc(var(--padding) * 2);
  }

  body {
    --theme-transition-speed: 1s;

    font-family: "Roboto Flex", sans-serif;
    font-weight: var(--fw-semibold);
    font-size: var(--fs-regular);

    background-color: var(--bg-color);
    color: var(--text-color);

    transition: background-color var(--theme-transition-speed) ease-in-out,
      color var(--theme-transition-speed) ease-in-out;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-size: var(--fs-large);
    font-weight: var(--fw-thin);
  }

  address {
    word-break: break-all;
  }
}

@layer layout {
  body {
    position: relative;

    margin: var(--padding);
    padding: var(--padding);

    isolation: isolate;
  }

  #main-frame {
    pointer-events: none;
    border: 1px solid var(--border-color);

    position: fixed;
    inset: var(--padding);
  }

  #main-header,
  #name,
  #main-footer {
    position: fixed;
    inset-inline: calc(var(--padding) * 2);

    max-width: max-content;

    z-index: var(--z-main-nav);
  }

  #main-header {
    top: calc(var(--padding) * 8);
  }

  #name {
    top: calc(var(--padding) * 2);
  }

  #main-footer {
    bottom: calc(var(--padding) / 4);
    inset-inline: calc(var(--padding));
  }

  .panel {
    position: relative;
    min-height: calc(100vh - (var(--padding) * 4));

    display: flex;
    flex-flow: column;
    justify-content: end;

    &:not(:first-of-type) {
      margin-block-start: calc(var(--padding) * 2);
    }
  }

  .panel__content {
    --block-padding: 50vh;

    margin-block-start: calc(var(--block-padding) - var(--padding));
  }

  .panel__bg {
    position: fixed;
    inset: calc(var(--padding));

    z-index: var(--z-content-bg);
    isolation: isolate;

    opacity: 0;
    transition: opacity 2s ease-in-out;
  }

  .panel__bg[data-bg-active="true"] {
    opacity: 1;
  }

  #hero {
    .panel__content p {
      max-width: 75ch;
      margin-inline-start: auto;

      &:not(:first-of-type) {
        margin-block-start: 1em;
      }
    }
  }
}

@layer components {
  .screen {
    --border-radius: 0.275em;
    --border-inset: 1em;

    position: relative;

    background-color: hsl(var(--primary-color-900) / 50%);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);

    filter: drop-shadow(2px 2px 1px var(--border-color)) sepia(100%)
      hue-rotate(160deg);

    overflow: hidden;
    isolation: isolate;

    .screen-overlay {
      --line-height: 2px;
      --transparent-line: transparent;
      --line-opacity: 90%;

      position: absolute;
      inset: 0;

      height: 100%;
      width: 100%;

      background: linear-gradient(
        hsl(var(--primary-color-800) / var(--line-opacity)),
        hsl(var(--primary-color-800) / var(--line-opacity)) var(--line-height),
        var(--transparent-line) var(--line-height),
        var(--transparent-line) calc(var(--line-height) * 2)
      );
      background-size: 100% calc(var(--line-height) * 2);

      animation: pan-overlay 20s infinite linear;

      z-index: 10;
    }

    .screen-inset-border {
      width: calc(100% - (var(--border-inset) * 2));
      height: calc(100% - (var(--border-inset) * 2));

      position: absolute;
      inset: calc(var(--border-inset));

      border: 2px solid var(--border-color);
      border-radius: var(--border-radius);
    }
  }
  .bullet-title::before {
    content: "";
    display: inline-block;
    width: 0.75em;
    aspect-ratio: 1 / 1;

    vertical-align: middle;
    margin-inline-end: 1ch;
    outline: 1px solid var(--border-color);
    outline-offset: 2px;

    background-color: var(--border-color);

    transition: all calc(var(--theme-transition-speed) / 2) ease-in-out;
  }

  #loading-screen {
    position: fixed;
    inset: 0;
    background-color: var(--bg-color);

    opacity: 1;
    transition: opacity calc(var(--theme-transition-speed) / 2) ease-in-out;

    z-index: var(--z-loading-screen);

    #loading-message {
      position: fixed;
      inset: 0;

      max-width: max-content;
      max-height: max-content;

      margin: auto;

      opacity: 1;
      transition: opacity calc(var(--theme-transition-speed) / 2) ease-in-out;

      & p {
        display: flex;
        gap: 2ch;

        font-size: var(--fs-large);
        font-weight: var(--fw-thin);
      }
    }
  }
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% -100%;
  }
}

@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .text-right {
    text-align: right;
  }
  .text-left {
    text-align: left;
  }

  .fs-small {
    font-size: var(--fs-small);
  }
  .fs-regular {
    font-size: var(--fs-regular);
  }
  .fs-large {
    font-size: var(--fs-large);
  }

  .fw-thin {
    font-weight: var(--fw-thin);
  }
  .fw-semibold {
    font-weight: var(--fw-semibold);
  }
  .fw-bold {
    font-weight: var(--fw-bold);
  }

  .disable-scroll {
    overflow: hidden;
  }

  .opacity-05 {
    opacity: 0.5;
  }
}

@layer general {
  body {
    text-shadow: 1px 1px 2px hsl(var(--neutral-color-900) / 25%);

    & main > section .panel__content {
      opacity: 0;

      transition: opacity calc(var(--theme-transition-speed) / 2) ease-in-out;
    }
    & main > section.panel.visible .panel__content {
      opacity: 1;
    }
  }

  [data-theme="light"] .light.box-marker {
    background-color: var(--border-color);
  }
  [data-theme="dark"] .dark.box-marker {
    background-color: var(--border-color);
  }

  #main-header {
    & nav li {
      display: flex;
      align-items: center;
      gap: 0.5ch;

      & span {
        opacity: 0;

        transition: opacity calc(var(--theme-transition-speed) / 2) ease-in-out;
      }
    }
  }

  body[data-active-section="hero"] #main-header li:has([href="#hero"]) span {
    opacity: 1;
  }
  body[data-active-section="works"] #main-header li:has([href="#works"]) span {
    opacity: 1;
  }
  body[data-active-section="services"]
    #main-header
    li:has([href="#services"])
    span {
    opacity: 1;
  }
  body[data-active-section="info"] #main-header li:has([href="#info"]) span {
    opacity: 1;
  }
  body[data-active-section="contact"]
    #main-header
    li:has([href="#contact"])
    span {
    opacity: 1;
  }

  #theme-switcher {
    position: fixed;
    inset-block-end: calc(var(--padding) * 2.5);
    inset-inline-start: calc(var(--padding) * -1);

    rotate: -90deg;

    #theme-switch {
      display: none;
    }

    & label {
      display: flex;
      align-items: center;
      gap: 2ch;

      text-transform: uppercase;
      font-size: var(--fs-small);

      cursor: pointer;
    }

    .box-marker {
      display: inline-block;
      aspect-ratio: 1 / 1;
      width: 1.5ch;
      margin-inline-end: 0.5ch;

      border: 1px solid var(--border-color);

      transition: background-color 250ms ease-in-out;
    }
  }

  #hero {
    .panel__bg {
      .screen {
        position: fixed;
        inset-block: calc(var(--padding) * 2);
        inset-inline-end: calc(var(--padding) * 2);

        margin-inline: auto;

        width: min(300px, calc(100% - (var(--padding) * 4)));
        aspect-ratio: 12 / 16;

        transform: rotate3d(1, -5, 1, 28deg);

        opacity: 0.2;

        transition: transform 1s ease-in-out;

        #jdl__photo-card {
          width: 100%;
          object-fit: contain;

          position: absolute;
          inset-block-end: 0;
          inset-inline: 0;

          opacity: 0.5;
        }
      }
    }

    &:hover .screen {
      transform: rotate3d(1, -8, 1, 20deg);
    }
  }

  body:has(#works li:hover) #works {
    --white-text-color: hsl(var(--neutral-color-100));

    .bullet-title {
      --border-color: hsl(var(--neutral-color-100));
    }
  }
  body:has(#works li:hover) :where(#main-header, #hero) {
    opacity: 0.05;
  }
  #works {
    color: var(--white-text-color);

    transition: color calc(var(--theme-transition-speed) / 2) ease-in-out;

    & h2 {
      margin-block-end: 2em;
    }

    & ul {
      isolation: isolate;

      margin-inline-start: auto;
      max-width: max-content;

      & li {
        margin-inline-start: auto;
        max-width: max-content;

        margin-block-end: 1em;
        isolation: isolate;

        transition: opacity calc(var(--theme-transition-speed) / 2) ease-in-out;
      }

      &:hover li:not(li:hover) {
        opacity: 0.1;
      }
    }

    .scroller > * {
      flex: 1 1 300px;
    }

    .panel__bg {
      isolation: isolate;

      transition: opacity 1s ease-in-out;

      & video {
        position: relative;
        width: 100%;
        height: 100%;

        object-fit: cover;

        filter: brightness(0.4);
      }
    }
  }
  #works:has([data-work-label="werevive"]:hover)
    [data-work-bg="werevive"].panel__bg {
    opacity: 1;
  }
  #works:has([data-work-label="london-outsourced-inc---july-social"]:hover)
    [data-work-bg="london-outsourced-inc---july-social"].panel__bg {
    opacity: 1;
  }
  #works:has([data-work-label="the-summit-group---powered-by-exp"]:hover)
    [data-work-bg="the-summit-group---powered-by-exp"].panel__bg {
    opacity: 1;
  }
  #works:has([data-work-label="jesus-is-lord-church---los-baos"]:hover)
    [data-work-bg="jesus-is-lord-church---los-baos"].panel__bg {
    opacity: 1;
  }

  #services {
    .title {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 1ch;

      & p {
        opacity: 0.5;
      }
    }

    & ul {
      margin-block-start: calc(var(--padding));

      list-style: disc;
      direction: rtl;

      & li {
        margin-block-start: calc(var(--padding) / 8);
        list-style: inherit;
      }
    }
  }

  #info {
    --gap: calc(var(--padding) / 2);

    .panel__content {
      --block-padding: 0vh;
    }

    & h3 {
      font-size: var(--fs-regular);
      margin-block-start: calc(var(--padding) * 4);
    }

    & ul {
      margin-block-start: calc((var(--padding)));

      max-width: max-content;
      margin-inline-start: auto;
    }

    .education-list {
      display: grid;
      gap: 1rem;

      & li {
        transition: opacity 200ms ease-in-out;
      }

      &:hover li:not(li:hover) {
        opacity: 0.1;
      }
    }

    .tools-list__sub {
      display: flex;
      flex-wrap: wrap;

      gap: var(--gap);

      justify-content: end;
    }
    .tool-image {
      width: 60px;
      aspect-ratio: 1 / 1;

      opacity: 0.75;
      filter: drop-shadow(2px 2px 2px hsl(var(--neutral-color-900) / 50%));

      transition: opacity 200ms ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    &:has(#LWG:hover) #LWG-bg {
      opacity: 1;
    }
    &:has(#CIIT:hover) #CIIT-bg {
      opacity: 1;
    }

    .panel__bg {
      transition: opacity 500ms ease-in-out;

      > div {
        height: 100%;
        overflow: hidden;
      }

      .image-loader {
        height: 100%;
      }

      & img {
        height: 100%;
      }
    }
  }
  [data-theme="dark"] #info .panel__bg > div {
    filter: brightness(0.2);
  }
  [data-theme="light"] #info .panel__bg > div {
    --primary-color-800: 0 0% 50%;
    --transparent-line: hsl(0, 0%, 100%, 0.1);

    filter: brightness(1.8);
    background-color: hsl(var(--neutral-color-900));

    .image-loader {
      opacity: 0.4;
    }
  }

  #contact {
    #qr-holder {
      display: flex;
      flex-wrap: wrap;
      justify-content: end;
      gap: calc(var(--padding) / 2);

      margin-block-start: calc(var(--padding) / 2);
      max-width: max-content;
      margin-inline-start: auto;

      filter: drop-shadow(2px 2px 2px hsl(var(--neutral-color-900) / 50%));

      .qr {
        position: relative;

        clip-path: polygon(
          50% 0%,
          60% 8%,
          100% 8%,
          100% 85%,
          85% 100%,
          5% 100%,
          0 95%,
          0 5%,
          5% 0
        );

        filter: brightness(0.8) contrast(1.5);

        background: linear-gradient(
          hsl(var(--primary-color-500) / 80%),
          hsl(var(--primary-color-800) / 80%)
        );
        padding-block: calc(var(--padding) / 2);
        padding-inline: calc(var(--padding) / 4);
        width: 100%;
        max-width: 125px;

        .chip-label {
          position: absolute;
          inset-block-start: 0;
          inset-inline-start: 0;

          font-size: var(--fs-small);
          text-transform: uppercase;
          scale: 0.75;

          color: hsl(var(--neutral-color-100) / 100%);
        }

        .image-loader {
          mix-blend-mode: lighten;
        }

        &:hover {
          opacity: 1;
        }
      }

      &:hover .qr:not(.qr:hover) {
        opacity: 0.1;
      }
    }
  }

  #main-footer {
    & p {
      font-size: var(--fs-small);
    }
  }
}
