@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@200;400;600&display=swap");

@layer reset, base, layout, components, utilities, general;

@layer reset {
  :root {
    --padding: 2em;

    --primary-color-100: 219 41% 80%;
    --primary-color-400: 219 41% 49%;
    --primary-color-500: 220 16% 34%;
    --primary-color-800: 220 41% 20%;
    --primary-color-900: 219 16% 17%;

    --neutral-color-100: 0 0% 96%;
    --neutral-color-900: 219 41% 7%;

    --fw-thin: 200;
    --fw-semibold: 400;
    --fw-bold: 600;

    --fs-small: clamp(0.5rem, 5vw, 0.75rem);
    --fs-regular: clamp(0.75rem, 5vw, 1rem);
    --fs-large: clamp(1.75rem, 4vw, 3rem);

    --z-work-dialog: 600;
    --z-main-nav: 500;
    --z-content-bg: -200;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  img {
    display: block;
    max-width: 100%;
  }

  :where(h1, h2, h3, h4, h5, h6, p, a, span, button) {
    font-family: inherit;
    font-weight: inherit;

    text-decoration: none;
    color: inherit;
    font-style: normal;
  }

  a:hover {
    opacity: 0.25;
  }

  button {
    background-color: transparent;
    border: 1px solid var(--border-color);

    cursor: pointer;
  }

  :where(ul, ol, li) {
    list-style: none;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: hsl(var(--neutral-color-900));
      --text-color: hsl(var(--neutral-color-100));
      --border-color: hsl(var(--neutral-color-100) / 50%);
    }
  }
  @media (prefers-color-scheme: light) {
    :root {
      --bg-color: hsl(var(--primary-color-100));
      --text-color: hsl(var(--neutral-color-900));
      --border-color: hsl(var(--neutral-color-900) / 50%);
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-block-start: calc(var(--padding) * 2);
  }

  body {
    font-family: "Roboto Flex", sans-serif;
    font-weight: var(--fw-semibold);
    font-size: var(--fs-regular);

    background-color: var(--bg-color);
    color: var(--text-color);
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-size: var(--fs-large);
    font-weight: var(--fw-thin);
  }

  address {
    word-break: break-all;
  }
}

@layer layout {
  body {
    position: relative;

    margin: var(--padding);
    padding: var(--padding);

    isolation: isolate;
  }

  #main-frame {
    pointer-events: none;
    border: 1px solid var(--border-color);

    position: fixed;
    inset: var(--padding);
  }

  #main-header,
  #name,
  #main-footer {
    position: fixed;
    inset-inline: calc(var(--padding) * 2);

    max-width: max-content;

    z-index: var(--z-main-nav);
  }

  #main-header {
    top: calc(var(--padding) * 8);
  }

  #name {
    top: calc(var(--padding) * 2);
  }

  #main-footer {
    bottom: calc(var(--padding) / 4);
    inset-inline: calc(var(--padding));
  }

  .panel {
    position: relative;
    min-height: calc(100vh - (var(--padding) * 4));

    display: flex;
    flex-flow: column;
    justify-content: end;

    &:not(:first-of-type) {
      margin-block-start: calc(var(--padding) * 2);
    }
  }

  .panel__content {
    margin-block-start: calc(50vh - var(--padding));
  }

  .panel__bg {
    position: fixed;
    inset: calc(var(--padding));

    z-index: var(--z-content-bg);
    isolation: isolate;

    opacity: 0;
    transition: opacity 2s ease-in-out;
  }

  .panel__bg[data-bg-active="true"] {
    opacity: 1;
  }

  #hero {
    .panel__content p {
      max-width: 75ch;
      margin-inline-start: auto;

      &:not(:first-of-type) {
        margin-block-start: 1em;
      }
    }
  }
}

@layer components {
  .screen {
    --border-radius: 0.275em;
    --border-inset: 1em;

    position: relative;

    background-color: hsl(var(--primary-color-900) / 50%);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);

    filter: drop-shadow(2px 2px 1px var(--border-color)) sepia(100%)
      hue-rotate(160deg);

    overflow: hidden;
    isolation: isolate;

    .screen-overlay {
      --line-height: 2px;

      position: absolute;
      inset: 0;

      height: 100%;
      width: 100%;

      background: linear-gradient(
        hsl(var(--primary-color-800) / 90%),
        hsl(var(--primary-color-800) / 90%) var(--line-height),
        transparent var(--line-height),
        transparent calc(var(--line-height) * 2)
      );
      background-size: 100% calc(var(--line-height) * 2);

      animation: pan-overlay 20s infinite linear;

      z-index: 10;
    }

    .screen-inset-border {
      width: calc(100% - (var(--border-inset) * 2));
      height: calc(100% - (var(--border-inset) * 2));

      position: absolute;
      inset: calc(var(--border-inset));

      border: 2px solid var(--border-color);
      border-radius: var(--border-radius);
    }
  }
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% -100%;
  }
}

@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .text-right {
    text-align: right;
  }
  .text-left {
    text-align: left;
  }

  .fs-small {
    font-size: var(--fs-small);
  }
  .fs-regular {
    font-size: var(--fs-regular);
  }
  .fs-large {
    font-size: var(--fs-large);
  }

  .fw-thin {
    font-weight: var(--fw-thin);
  }
  .fw-semibold {
    font-weight: var(--fw-semibold);
  }
  .fw-bold {
    font-weight: var(--fw-bold);
  }
}

@layer general {
  #hero {
    .panel__bg {
      .screen {
        position: fixed;
        inset-block: calc(var(--padding) * 2);
        inset-inline-end: calc(var(--padding) * 2);

        margin-inline: auto;

        width: min(300px, calc(100% - (var(--padding) * 4)));
        aspect-ratio: 12 / 16;

        transform: rotate3d(1, -5, 1, 28deg);

        opacity: 0.2;

        transition: transform 1s ease-in-out;

        #jdl__photo-card {
          width: 100%;
          object-fit: contain;

          position: absolute;
          inset-block-end: 0;
          inset-inline: 0;

          opacity: 0.5;
        }
      }
    }

    &:hover .screen {
      transform: rotate3d(1, -8, 1, 20deg);
    }
  }

  #works {
    & h2 {
      margin-block-end: 2em;

      &::before {
        content: "";
        display: inline-block;
        width: 0.75em;
        aspect-ratio: 1 / 1;

        vertical-align: middle;
        margin-inline-end: 1ch;
        outline: 1px solid var(--border-color);
        outline-offset: 2px;

        background-color: var(--border-color);
      }
    }

    & li {
      margin-block-end: 1em;

      > div > button {
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: baseline;
        justify-items: end;
        column-gap: 1em;

        margin-inline-start: auto;

        border: none;
        transition: opacity 250ms ease-in-out;

        &:hover {
          opacity: 0.25;
        }

        & h3 {
          text-align: end;
          grid-area: 1 / 2 / 2 / 3;
        }
        & p {
          text-align: end;
          grid-area: 1 / 1 / 2 / 2;
        }
      }
      @media screen and (width < 1200px) {
        & button {
          grid-template-columns: 1fr;

          & h3 {
            grid-area: auto;
          }
          & p {
            grid-area: auto;
          }
        }
      }
    }
    .scroller video {
      flex-basis: 0;
      height: max(260px, 50vh);

      border: 1px solid var(--border-color);
      padding: 2px;
    }
  }

  #main-footer {
    & p {
      font-size: var(--fs-small);
    }
  }
}
